.text-body {
  font-size: 12px;
  font-weight: 500;
}
:root {
  --primary-light: rgb(241, 97, 120, 0.85);
  --primary: rgb(241, 97, 120);
}
* {
  font-family: "DM Sans", sans-serif;
}
/* All Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.text-roboto {
  font-family: "Poppins", sans-serif;
}

.percent {
  stroke-dasharray: 100;
  stroke-dashoffset: calc(100 - var(--val));
}

.card:hover .button-container {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #fff;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  color: var(--primary);
}

.expand-after::after {
  width: 100% !important;
}
